* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.md {
    width: 400px;
}

.md .nav-page a {
    color: #143A51;
    font-weight: 700;

}

a:hover {
    opacity: .75;
}


.sec-home {
    background-image: url(../assets/img/fondo-home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 100vh;
}

.sec-plans-first {
    background-image: url(../assets/img/fondo-planes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 100vh;
}


/* Pendiente de modificar */


.sec-maps {
    min-height: 80vh;
    width: 100%;
    background-image: url(../assets/img/mapa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer-contac {
    background-color: #282623;
    /*  background-image: url(../assets/img/fondo2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    width: 100%;
    min-height: 40vh;
}

.cards-container {
    width: 100%;
    height: auto;
}

.sec-beneficts {
    width: 100%;
    min-height: 20vh;
}

.text-description,
.product--card-body {
    text-align: justify;
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: #282623;
}

.product-detail--title {
    width: 100%;
    min-width: 288px;
    text-align: center;
}

.product-detail--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: 180px;
    margin: 15px auto;
    padding: 15px;
    background-color: #201E1C;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16s);
    color: white;

}



.product--card-title {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan-card {
    background: #fff;
    width: 17rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-bottom: 4px solid #143A51;
    box-shadow: 0 6px 30px rgba(207, 212, 222, 0.3);
    font-family: "Poppins", sans-serif;
}

.plan-card h2 {
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 600;
}

.plan-card h2 span {
    display: block;
    margin-top: -4px;
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 400;
}

.etiquet-price {
    position: relative;
    background: #DB504A;
    width: 16rem;
    margin-left: -0.65rem;
    padding: .2rem 1.2rem;
    border-radius: 5px 0 0 5px;
}

.etiquet-price p {
    margin: 0;
    padding-top: .4rem;
    display: flex;
    font-size: 1.9rem;
    font-weight: 500;
}

.etiquet-price p:before {
    content: "Q";
    margin-right: 5px;
    font-size: 15px;
    font-weight: 300;
}

.etiquet-price p:after {
    content: "/ Hora";
    margin-left: 5px;
    font-size: 15px;
    font-weight: 300;
}

.etiquet-price div {
    position: absolute;
    bottom: -23px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 13px solid #DB504A;
    border-bottom: 10px solid transparent;
    border-right: 13px solid transparent;
    z-index: -6;
}

.benefits-list {
    margin-top: 16px;
}

.benefits-list ul {
    padding: 0;
    font-size: 14px;
}

.benefits-list ul li {
    color: #4d4d4d;
    list-style: none;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.benefits-list ul li svg {
    width: .9rem;
    fill: currentColor;
}

.benefits-list ul li span {
    font-weight: 300;
}

.button-get-plan {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
}

.button-get-plan a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000446;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.button-get-plan a:hover {
    transform: translateY(-3%);
    box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
}

.button-get-plan .svg-rocket {
    margin-right: 10px;
    width: .9rem;
    fill: currentColor;
}


.product-detail--title2 h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #212529;
}

.redes-icons {
    width: 100%;
}

.redes {
    max-width: 300px;
    min-width: 200px;
}

.line-left {
    margin-right: 1rem !important;

    border-bottom: 4px solid white;
    width: 55%;

}

.line-right {
    margin-left: 1rem !important;

    border-bottom: 4px solid white;
    width: 55%;

}

.line-center {
    width: 1px;
    margin: 10px;
    border: 1px solid white;
}


@media (max-width: 859px) {
    .product-detail--title2 h2 {
        color: white;
    }
}